<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>מערכת תגים</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section class= "header">
        <div class=" text-box">
            <h1>בחר רמת עדיפות של התג</h1>
            <div class="row">
                <button class="col_A" onclick="window.location.href='/priority/maintenance'">תג אחזקה </button>
                <button class="col_B" onclick="window.location.href='/priority/production'">תג ייצור </button>
                <button class="col_C" onclick="window.location.href='/priority/safety'">תג בטיחות </button>
            </div>
        </div>
    </section>
</body>
</html>
